.header {
  position: fixed;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  height: 64px;
  left: 0;
  top: 0;

  background: #ffffff;

  box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
  border-radius: 0 0 16px 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.header__nav-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 16px;

  height: 32px;

  flex: none;
  flex-grow: 0;
}

.header__nav-panel__menu-elem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  flex: none;
  flex-grow: 0;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;

  color: #373745;
}

.header__nav-panel__menu-elem--active {
  background: #60c2aa;
  border-radius: 200px;
  color: white;
}

.header__sign-out-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}


