body {
  margin: 0;
  padding: 0;
  background: rgba(246, 246, 246, 1);
}

* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.main-container {
  margin-top: 64px;
  padding: 70px 40px;
  display: flex;
  justify-content: space-between;
  min-width: 950px;
  // TODO: "При разрешении экрана 692 на 764..." сделал через min-width, чтобы потом сделать media запросы. Нормально?
}

.subject-list {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;

  width: 190px;

  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 20px;
}

.subject-list__headline {
  font-weight: 700;
  font-size: 21px;
  line-height: 150%;

  color: #373745;
  margin: 0;
}

.subject-list__container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 20px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.subject-list__subject-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 12px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.subject-container__subject-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.15px;
  color: #373745;
}

.subject-container__subject-percent {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.25px;
  color: #898993;
}

.subject-list__subject-icon {
  width: 24px;
  height: 24px;
}

.subject-list__subject-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 4px;
}

.game-container {
  width: 663px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.game-container__game-time {
  width: fit-content;
  padding: 12px;

  background: #EDEDED;
  border-radius: 12px;

  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #373745;
}

.game-container__game-board {
  width: 393px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 4px;
}

.game-board__cell {
  width: 128.33px;
  height: 128.33px;

  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board__img{
   width: 100%;
}

.game-container__game-step {
  width: 370px;
  padding: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #373745;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 12px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 0;
  margin-bottom: 88px;
  gap: 20px;

  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: #373745;
}

.chat-container__msgs-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 12px;
}

.msgs-container__msg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;

  max-width: 352px;
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
}

.msgs-container__msg-container.other {
  align-self: flex-start;
  border-radius: 16px 16px 16px 0;
}

.msgs-container__msg-container.me {
  align-self: flex-end;
  border-radius: 16px 16px 0 16px;
}

.msg-container__msg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

.msg-header__subject-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.msg-header__subject-name.x {
  color: #60C2AA;
}
.msg-header__subject-name.zero {
  color: #E38BAC;
}

.msg-header__time{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.25px;
  color: #898993;
}

.chat-container__msg-interactive-elements {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 12px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

.msg-interactive-elements__button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;

  width: 48px;
  height: 48px;

  background: #60C2AA;
  border-radius: 12px;
}

.msg-interactive-elements__textarea{
  resize: none;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  height: 48px;
  max-height: max-content;
  overflow: hidden;
  box-sizing: border-box;

  padding: 12px 20px;
  gap: 8px;
  background: #FFFFFF;
  border: 1px solid #DCDCDF;
  border-radius: 12px;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: #373745;
}
